html, body {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 0 !important;
      border: black solid 1px;
      overflow-x: hidden;
      overflow-y: hidden;
      margin:0;
      padding:0;
    }
    * {
      margin: 0 !important;
      padding: 0 !important;
    }

.home1{
  position: relative;
  background-image: url("../../www/img/fondo.jpg");
  width: 360px;
  height: 615px;
}

#boton_iniciar{

 position: absolute;
 width: 200px;
 height: 150px;
 left: 80px;
 top: 465px;

}

#logo_iniciar{

 position: absolute;
 width: 200px;
 height: 150px;
 left: 80px;
 top: 200px;


}

.home2{
  position: relative;
  background-image: url("../../www/img/inicio/fondo_inicio.jpg");
  width: 360px;
  height: 615px;
}

#record_inicio{

 position: absolute;
 width: 200px;
 height: 45px;
 left: 80px;
 top: 25px;

}

#boton_iniciar_inicio{

 position: absolute;
 width: 200px;
 height: 95px;
 left: 80px;
 top: 170px;

}

#boton_instrucciones_inicio{

 position: absolute;
 width: 200px;
 height: 95px;
 left: 80px;
 top: 270px;


}

#boton_creditos_inicio{

 position: absolute;
 width: 150px;
 height: 102px;
 left: 105px;
 top: 505px;


}


.home2alt{
  position: relative;
  background-image: url("../../www/img/inicio/fondo_inicio.jpg");
  width: 360px;
  height: 615px;
}


#boton_continuar_inicio_alt{

 position: absolute;
 width: 200px;
 height: 95px;
 left: 80px;
 top: 178px;

}

#boton_iniciar_inicio_alt{

 position: absolute;
 width: 200px;
 height: 95px;
 left: 80px;
 top: 273px;

}

#boton_instrucciones_inicio_alt{

 position: absolute;
 width: 200px;
 height: 95px;
 left: 80px;
 top: 368px;


}

#boton_creditos_inicio_alt{

 position: absolute;
 width: 150px;
 height: 102px;
 left: 105px;
 top: 505px;


}


.instrucciones{

  position: relative;
  background-image: url("../../www/img/instrucciones/instrucciones_1.png");
  width: 360px;
  height: 615px;


}


#boton_forward_instrucciones{

 position: absolute;
 width: 80px;
 height: 35px;
 left: 140px;
 top: 575px;



}



.instrucciones2{

  position: relative;
  background-image: url("../../www/img/instrucciones/instrucciones_2.png");
  width: 360px;
  height: 615px;


}


#boton_iniciar_instrucciones2{
 position: absolute;
 width: 130px;
 height: 70px;
 left: 40px;
 top: 530px;


}


#boton_volver_instrucciones2{

 position: absolute;
 width: 130px;
 height: 70px;
 left: 190px;
 top: 530px;



}

#boton_backward_instrucciones2{
position: absolute;
 width: 80px;
 height: 35px;
 left: 140px;
 top: 490px;
  
}
.creditos{

  position: relative;
  background-image: url("../../www/img/creditos/creditos.png");
  width: 360px;
  height: 615px;


}

#boton_volver_creditos{

 position: absolute;
 width: 130px;
 height: 70px;
 left: 115px;
 top: 520px;

}
.ocultar{

  display: none;
}


.juego{

  position: relative;
  background-image: url("../../www/img/juego/fondo_juego.jpg");
  width: 360px;
  height: 615px;
}

#tortuga{

 position: absolute;
 width: 150px;
 height: 160px;
 left: 105px;
 top: 450px;
}

#vida1{

 position: absolute;
 width: 50px;
 height: 50px;
 left: 0px;
 top: 0px;

}

#vida2{

 position: absolute;
 width: 50px;
 height: 50px;
 left: 40px;
 top: 0px;
  
}

#record_juego{
  
 position: absolute;
 width: 90px;
 height: 50px;
 left: 2px;
 top: 50px;
}

#boton_home_juego{

 position: absolute;
 width: 50px;
 height: 50px;
 right:3px;
 top: 0px;
  
}

#boton_pausa_juego{

 position: absolute;
 width: 48px;
 height: 48px;
 right:55px;
 top: 3px;
  
  
}

#boton_right_juego{

  position: absolute;
 width: 50px;
 height: 260px;
 right:0px;
 top: 165px;
  
}
 
#boton_left_juego{

 position: absolute;
 width: 50px;
 height: 260px;
 left:0px;
 top: 165px;
  
} 